.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 89px 50px 96px 50px;
  font-size: 18px;
}

  .header__address {
    justify-self: end;
    width: 241px;
  }

  .header__link {
    text-underline-offset: 4px;
  }

  .header__links-list {
    display: flex;
    gap: 29px;
    list-style: circle;
  }

  .header__links-list-item {
    padding-left: 4px;
  }

  .header__links-list-item:first-child {
    padding-left: 0;
    list-style: none;
  }

  .header__logo {
    width: 136px;
  }

.address {
  font-style: normal;
  line-height: 24px;
}

.address__link {
  text-underline-offset: 4px;
}

.cover {
  padding: 165px 50px 50px 50px;
  color: #fff;
  background: url('../images/cover.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

  .cover__title {
    font-size: 100px;
    line-height: 115px;
    text-align: center;
    text-transform: uppercase;
  }

  .cover__title > span {
    display: block;
    padding-bottom: 20px;
  }

  .cover__title > span:first-child {
    text-align: left;
  }

  .cover__title > span:last-child {
    padding-bottom: 106px;
    text-align: right;
  }

  .cover__description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: end;
  }

  .cover__description-text {
    justify-self: start;
    align-self: center;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 20px;
  }

.bet-button {
  width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  margin-right: -30px;
}

.overlay {
  position: relative;
}

  .overlay::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    opacity: .6;
    background-color: #000;
  }

  .overlay > * {
    position: relative;
    z-index: 1;
  }

.lots {
  margin-top: 180px;
  padding: 0 24px;
}

  .lots__heading {
    margin: 0 0 27px 40px;
    font-size: 40px;
    text-transform: uppercase;
  }

  .lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
  }

  .lots__card-list-item {
    width: 334px;
    min-height: 596px;
    background-repeat: no-repeat;
  }

  .lots__look-more-link {
    display: block;
    margin: 29px 0 0 40px;
    font-size: 20px;
    text-underline-offset: 5px;
  }

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  line-height: 1.2;
  background-position: bottom;
  background-size: cover;
}

  .card_type_film {
    background-image: url('../images/card-lot-01.jpg');
  }

  .card_type_book {
    background-image: url('../images/card-lot-02.jpg');
  }

  .card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
  }

  .card__title {
    font-size: 22px;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .card__text {
    font-size: 20px;
  }

.about {
  display: grid;
  grid-template-columns: 334px auto;
  justify-items: center;
  gap: 25px;
  margin-top: 120px;
  padding: 0 29px 0 24px;
}

  .about__column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 35px;
  }

  .about__title {
    margin: 100px 0 75px 0;
    font-size: 40px;
    text-transform: uppercase;
  }

  .about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #000;
  }

  .about__logo-image {
    width: 148px;
    height: 114px;
  }

  .about__text {
    font-size: 20px;
    line-height: 24px;
  }

.footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  margin-top: 180px;
  padding: 0 50px 82px 50px;
  font-size: 18px;
}

  .footer__address {
    width: 242px;
  }

  .footer__menu {
    text-align: center;
  }

  .footer__menu-link {
    text-underline-offset: 4px;
  }

  .footer__menu-list {
    list-style: none;
  }

  .footer__social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
    list-style: none;
  }

  .footer__social-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
  }
